flask
flask-sqlalchemy
flask-login
flask-bcrypt
python-dotenv
requests
tweepy
facebook-sdk
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
praw
newspaper3k
transformers
torch
pillow
opencv-python
gunicorn
